* {
    font-family: Georgia;
}

.left {
    float: left;

    background-color: maroon;
    color: white;
    height: 600px;
    width: 30%;
}

.right {
    float: left;

    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow: auto;
}

.right img {
    float: left;
}

.right ul {
    float: left;
}

.right p {
    clear: both;
}

.right p {
    padding: 10px;
}

img {
    padding: 10px;
    border: 1px solid white;
}

.footer {
    clear: both;

    background-color: dimgray;
    color: white;
}

#indigo {
    background-color: indigo;
}

#olive {
    background-color: olive;
}

#steelblue {
    background-color: steelblue;
}